@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(49, 49, 49);
  width: inherit;
  height: inherit;
}
html {
  min-height: 100vh;
  width: 100%;
}

/* burger menu area */
